In [2]:
#import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

* Q1: Write a python program to scrape data for “Data Analyst” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” 
in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [11]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.naukri.com/"
driver.get(url)
time.sleep(6)

# entering “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
search_field_designation=driver.find_element_by_id("qsb-keyword-sugg") #job search bar
search_field_location=driver.find_element_by_id('qsb-location-sugg') #location search bar
search_field_designation.send_keys("Data Analyst")
search_field_location.send_keys("Bangalore")


# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()


time.sleep(4)
# creating empty lists for scraping data
job_title=[]
job_location=[]
company_name=[]
experience_required=[]


#scraping the job-titles
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)

time.sleep(4)
#scraping the job-location
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
        
time.sleep(4)        
#scraping the company_name 
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
company_name[0:2]


time.sleep(4)
#scraping the experience_required 
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience:
    if i.text is None :
            experience_required.append("--") 
    else:
            experience_required.append(i.text)


time.sleep(4)
# creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"experience_required":experience_required[0:10],"company_name":company_name[0:10],"job_location":job_location[0:10],
                "job_title":job_title[0:10]})
df

,experience_required,company_name,job_location,job_title
0,0-3 Yrs,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Data Scientist / Data Analyst -Business Analyst
1,0-2 Yrs,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,Data Analyst
2,0-5 Yrs,(850 Reviews),Bangalore/Bengaluru,Hiring Data Analysts For E commerce Platform |...
3,5-8 Yrs,Allegis Services India Pvt. Ltd.,Bangalore/Bengaluru,Data Analyst
4,7-10 Yrs,(201 Reviews),Bangalore/Bengaluru,Data Analyst
5,4-9 Yrs,Shell India Markets Private Limited,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",DA - Urgent Opening For Data Analyst BFSI Doma...
6,5-8 Yrs,(620 Reviews),Bangalore/Bengaluru,Data Analyst
7,12-18 Yrs,Applied Materials,"Mumbai, Bangalore/Bengaluru",Assistant Vice President - MIS & Reporting ( B...
8,3-6 Yrs,(94 Reviews),Bangalore/Bengaluru,Data Analyst
9,3-6 Yrs,Tata Consultancy Services Ltd.,Bangalore/Bengaluru,Data Analyst

* Q2: Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter
“Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [36]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.naukri.com/"
driver.get(url)
time.sleep(6)

# entering “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.

search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")   #job search bar
search_field_location=driver.find_element_by_id('qsb-location-sugg')  #location search bar
search_field_designation.send_keys("Data Scientist")
search_field_location.send_keys("Bangalore")


# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()


time.sleep(4)
# creating empty lists for scraping data
job_title=[]
job_location=[]
company_name=[]
full_job_description=[]


#scraping the job-titles
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)

time.sleep(4)
#scraping the job-location
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
        
time.sleep(4)        
#scraping the company_name 
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)

# scraping the full job-description, for scraping full job description we have to go in each of the jobs separately
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")]
for url in urls[0:10]:
    try:
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//section[@class='job-desc']/div[1]").text
        description=raw_description.replace("Contact Person","@@@@@")
        description= description.split("@@@@@")
        full_job_description.append(description[0])
    except NoSuchElementException :
        full_job_description.append("---")
        
        
 # creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"job_title":job_title[0:10],"company_name":company_name[0:10],"job_location":job_location[0:10],
                "job_description":full_job_description[0:10]})
df

,job_title,company_name,job_location,job_description
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Job Role : Data Scientist/Data Analyst /Busine...
1,Senior / Lead Data Scientist,TVS CREDIT SERVICES LIMITED,"Pune, Chennai, Bangalore/Bengaluru",Key Responsibilities\nBe responsible for scali...
2,Senior Data Scientist | CES IT LTD | CMMI Level 5,(779 Reviews),"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Roles and Responsibilities\n\nMandatory Skills...
3,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Roles and Responsibilities\n\nMandatory Skills...
4,Analytics & AI Product Mgmt - Sr. Data Scientist,(85 Reviews),Bangalore/Bengaluru,---
5,Senior Data Scientist,CES Ltd.,"Pune, Chennai, Bangalore/Bengaluru",.\nRoles and Responsibilities\nAnalyze structu...
6,"Senior Data Scientist, Modeling",(85 Reviews),"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...","We wont say we can predict the future, but our..."
7,Data Scientist - IBM Garage,GlaxoSmithKline Pharmaceuticals Limited,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",---
8,Data Scientist,(850 Reviews),"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",---
9,Data Scientist,Vijaya Management Services,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",---

* Q3: In this question you have to scrape data using the filters available on the
webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [26]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.naukri.com/"
driver.get(url)
time.sleep(6)

# entering “Data Scientist” in “Skill,Designations,Companies” field

search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")   #job  search bar
search_field_designation.send_keys("Data Scientist")

# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()


# creating empty lists for scraping data
job_title=[]
job_location=[]
company_name=[]
experience_required=[]


time.sleep(3)
#finding the delhi/ncr check box
loc=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]/label/p")
loc.click()

time.sleep(2)
# finding the salary check box
slry_box = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/p")
slry_box.click()

time.sleep(3)
#scraping the job-titles
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)
        

time.sleep(3)
#scraping the job-location
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
        

time.sleep(3)
#scraping the company_name 
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
        

time.sleep(3)
#scraping the experience_required 
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience:
    if i.text is None :
            experience_required.append("--") 
    else:
            experience_required.append(i.text)
            
time.sleep(3)            
 # creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"job_title":job_title[0:10],"experience_required":experience_required[0:10],"company_name":company_name[0:10],
                 "job_location":job_location[0:10]})
df

,job_title,experience_required,company_name,job_location
0,Data Scientist / Data Analyst -Business Analyst,0-3 Yrs,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Data Scientist,4-9 Yrs,IBM India Pvt. Limited,"Noida, Hyderabad/Secunderabad, Bangalore/Benga..."
2,Senior Data Scientist II 5+ yrs II Gurgaon,5-10 Yrs,(9623 Reviews),Gurgaon/Gurugram
3,Excellent opportunity For Data Scientist,3-7 Yrs,Zenatix Solutions Private Limited,"Noida, Bangalore/Bengaluru"
4,Data Scientist,3-5 Yrs,(14 Reviews),"New Delhi, Gurgaon/Gurugram, Delhi / NCR"
5,DATA Scientist – Gurgaon (Exp 3-6 years),3-6 Yrs,NEC CORPORATION INDIA PRIVATE LIMITED,"Gurgaon/Gurugram, Delhi / NCR"
6,DATA Scientist – Gurgaon (Exp 3-6 years),3-6 Yrs,(12 Reviews),"Gurgaon/Gurugram, Delhi / NCR"
7,Data Scientist - Noida/ B'lore,3-8 Yrs,Mobikwik,"Noida, Bangalore/Bengaluru"
8,Only Fresher / Data Scientist / Data Analyst /...,0-5 Yrs,(104 Reviews),"Noida, Gurgaon/Gurugram, Delhi / NCR"
9,Data Scientist,5-8 Yrs,CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."

Q4: Write a python program to scrape data for first 10 job results for Data scientist
Designation in Noida location. You have to scrape company_name, No. of days
ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida”
in “location” field.
3. Then click the search button. You will land up in the below page:
4. Then scrape the data for the first 10 jobs results you get in the above shown
page.
WEB SCRAPING ASSIGNMENT-2
.
5. Finally create a dataframe of the scraped data.

In [2]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.glassdoor.co.in/index.htm"
driver.get(url)

* Enter your login credentials in the chrome window opened by webdriver. Do this step manually

In [46]:
# Now entering “Data Scientist” in “SJob Title, Keywords or Company” field and enter “Noida” in “location” field.

search_field_designation=driver.find_element_by_xpath("//div[@class='d-flex flex-row align-items-center']//div[1]//div[1]//input")  #job search bar
search_field_designation.send_keys("Data Scientist")

time.sleep(2)
search_field_location=driver.find_element_by_xpath("//div[@class='d-flex flex-row align-items-center']//div[3]//div[1]//input")  #location search bar
search_field_location.clear()   # clearing job location search_bar
search_field_location.send_keys("Noida")

time.sleep(2)
# clicking the search button
search_button=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_button.click()


# creating empty lists for scraping data
company_ratings=[]
company_name=[]
days_ago=[]


time.sleep(3)
# finding the element where company name is present
companies=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)

        
time.sleep(3)        
# finding the element where ratings of the company  is present
ratings=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
for i in ratings:
    if i.text is None :
        company_ratings.append("--") 
    else:
        company_ratings.append(i.text)
        

time.sleep(3)
# finding the element where  No. of days ago when job was posted is present
days=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
for i in days:
    if i.text is None :
        days_ago.append("--") 
    else:
        days_ago.append(i.text)
        
        
time.sleep(3)        
 # creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"company_name":company_name[0:10],"company_ratings":company_ratings[0:10],"days_ago":days_ago[0:10]})
df

                   company_name company_ratings days_ago
0                      Ericsson             4.1       5d
1                         Adobe             4.4     30d+
2                Biz2Credit Inc             3.8     30d+
3  Salasar New Age Technologies             3.6     30d+
4                     HDFC Bank             5.0     30d+
5                      Techlive             3.0     30d+
6  Salasar New Age Technologies             4.2     30d+
7               SearchUrCollege             3.8     30d+
8                      xtLytics             4.1     30d+
9     Unyscape Infocom Pvt. Ltd             4.1      29d

* Q5: Write a python program to scrape the salary data for Data Scientist designation
in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page
You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company
name, Average salary and rating of the company.
6.Store the data in a dataframe.

In [3]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.glassdoor.co.in/index.htm"
driver.get(url)

* Enter your login credentials in the chrome window opened by webdriver. Do this step manually

In [74]:
# Now entering “Data Scientist” in “SJob Title, Keywords or Company” field and enter “Noida” in “location” field.

search_field_designation=driver.find_element_by_xpath("//div[@class='d-flex flex-row align-items-center']//div[1]//div[1]//input")  #job search bar
search_field_designation.send_keys("Data Scientist")

time.sleep(2)
# clearing job location search_bar
from selenium.webdriver.common.keys import Keys
for i in range(9):
    driver.find_element_by_xpath("//div[@class='d-flex flex-row align-items-center']//div[3]//div[1]//input").send_keys(Keys.BACK_SPACE)

#location search bar
search_field_location=driver.find_element_by_xpath("//div[@class='d-flex flex-row align-items-center']//div[3]//div[1]//input")  
search_field_location.send_keys("Noida")

time.sleep(2)
# Select salary option
option = driver.find_element_by_xpath("//div[@class='selectedLabel']")
option.click()
time.sleep(2)
salary_option = driver.find_element_by_xpath("//div[@class='dropDownOptionsContainer']//ul//li[3]")
salary_option.click()

time.sleep(2)
# clicking the search button
search_button=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_button.click()

# creating empty lists for scraping data
company_name=[]
min_salaries=[]
max_salaries=[]
average_salaries=[]
no_of_salaries=[]


time.sleep(3)
# finding the element where company_name   is present
company=driver.find_elements_by_xpath("//div[@data-test='job-info']/p[2]")
for i in company:
    if i.text is None :
        company_name.append("--")      
    else:
        company_name.append(i.text)
        
time.sleep(3)        
# finding the element where min salary is present
min_salary = driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']//span[1]")
for i in min_salary:
    if i.text is None:
        min_salaries.append("--")
    else:
        min_salaries.append(i.text)
        
time.sleep(3)        
# finding the element where max salary is present
max_salary=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[2]")
for i in max_salary:
    if i.text is None :
        max_salaries.append("--") 
    else:
        max_salaries.append(i.text)
        
time.sleep(3)        
# finding the element where average salary is present
average_salary=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")
for i in average_salary:
    if i.text is None :
        average_salaries.append("--") 
    else:
        average_salaries.append(i.text)
        
time.sleep(3)        
# finding the element where no_of_salary is present
no_of_salary=driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")
for i in no_of_salary:
    if i.text is None :
        no_of_salaries.append("--") 
    else:
        no_of_salaries.append(i.text)
        
        
 # creating the dataframe from the scraped data 
df=pd.DataFrame({"company_name":company_name,"min_salaries":min_salaries,"max_salaries":max_salaries,
                 "average_salaries":average_salaries,"no_of_salaries":no_of_salaries})
df

,company_name,min_salaries,max_salaries,average_salaries,no_of_salaries
0,Tata Consultancy Services,₹169K,"₹2,500K","₹ 6,29,287",116 salaries
1,IBM,₹282K,"₹3,650K","₹ 10,25,234",103 salaries
2,Mu Sigma,₹289K,"₹4,586K","₹ 5,93,426",87 salaries
3,Cognizant Technology Solutions,₹334K,"₹1,845K","₹ 8,44,087",54 salaries
4,Accenture,₹180K,"₹3,000K","₹ 9,69,165",53 salaries
5,Infosys,₹213K,"₹3,129K","₹ 8,10,985",44 salaries
6,Fractal,₹587K,"₹2,049K","₹ 14,72,159",40 salaries
7,Capgemini,₹347K,"₹1,762K","₹ 8,95,952",34 salaries
8,Amazon,₹587K,"₹3,279K","₹ 14,47,627",29 salaries
9,Impact Analytics,₹504K,₹900K,"₹ 6,46,795",28 salaries
10,Ericsson-Worldwide,₹350K,"₹3,000K","₹ 9,26,569",27 salaries
11,Microsoft,₹230K,"₹3,250K","₹ 16,20,190",26 salaries
12,Wipro,₹347K,"₹1,537K","₹ 8,94,763",25 salaries
13,Jio,₹314K,"₹2,219K","₹ 12,50,277",22 salaries
14,Deloitte,₹178K,"₹2,100K","₹ 11,81,000",19 salaries
15,Tech Mahindra,₹382K,"₹2,240K","₹ 7,22,644",19 salaries
16,ZS Associates,₹196K,"₹2,178K","₹ 11,74,242",19 salaries
17,Google,₹264K,"₹7,179K","₹ 14,08,244",18 salaries
18,Cyient,₹110K,"₹1,926K","₹ 9,67,483",18 salaries
19,Anheuser-Busch InBev,"₹1,268K","₹1,900K","₹ 15,75,878",17 salaries

* Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount 
To scrape 
the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and
more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page
you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of
the page , then click on it

In [30]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/"
driver.get(url)

time.sleep(2)
#locating the search bar
search_bar=driver.find_element_by_class_name("_3704LK")
search_bar.send_keys('sunglasses')

time.sleep(2)
#locating the button and clicking it toh search for sunglasses
button=driver.find_element_by_class_name('L0Z3Pu')
button.click()


#creating the empty list
brand=[]
description=[]
price=[]
discount=[]


time.sleep(3)
#scrapping the required details
start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements_by_class_name('_2WkVRV')#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    desc=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')#scraping description from the xpath
    for i in desc:
        description.append(i.text)#appending the description in list
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")# scraping the price from the xpath
    for i in prices:
        price.append(i.text)
    disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")# scraping the discount from the xpath
    for i in disc:
        discount.append(i.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))

time.sleep(3)        
#creating a dataframe
df=pd.DataFrame({'Brand':brand[:100],
                'Description':description[:100],
                'Price':price[:100],
                'Discount':discount[:100]})
#printing dataframe
df

,Brand,Description,Price,Discount
0,NuVew,UV Protection Aviator Sunglasses (57),₹290,68% off
1,kingsunglasses,"Mirrored, UV Protection Wayfarer, Wayfarer, Wa...",₹289,80% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
3,PIRASO,UV Protection Aviator Sunglasses (54),₹250,84% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹630,21% off
...,...,...,...,...
95,Fastrack,Mirrored Aviator Sunglasses (Free Size),₹771,14% off
96,elegante,UV Protection Aviator Sunglasses (57),₹449,70% off
97,ROYAL SON,"UV Protection Retro Square, Wayfarer Sunglasse...",₹399,73% off
98,GANSTA,UV Protection Round Sunglasses (Free Size),₹337,83% off
99,NuVew,UV Protection Over-sized Sunglasses (Free Size),₹314,70% off

* Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to 
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
you have to scrape the below mention attributes.
These are 
1. Rating 
2. Review_summary 
3. Full review
You have to scrape this data for first 100 reviews

In [35]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

# Creating empty list
urls=[]
short_review=[]
complete_review=[]
stars=[]

time.sleep(4)
#Taking 10 pages into consideration using for loop
for i in range(10):
    url=driver.find_element_by_xpath("//a[@class='ge-49M']").get_attribute('href')
    driver.get(url)
    #for scrapping the number of stars
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        stars.append(j.text)
    #for scrapping the short review
    for k in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        short_review.append(k.text)
    #for scrapping the complete review
    for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        complete_review.append(l.text)
        
        
        
#Combining all the lists into a single dataframe
df=pd.DataFrame({'Number of Stars': stars,
                'Short Review': short_review,
               'Full Review': complete_review})
df

,Number of Stars,Short Review,Full Review
0,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
1,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
2,5,Worth every penny,It’s been almost a month since I have been usi...
3,4,Nice product,Awesome Phone. Slightly high price but worth. ...
4,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
...,...,...,...
95,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
96,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
97,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
98,5,Fabulous!,This is my first iOS phone. I am very happy wi...
99,5,Wonderful,*Review after 10 months of usage*\nDoesn't see...

* Q8:Scrape data for first 100 sneakers you find when you visit flipkart.comand search for “sneakers” in the search field.You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
Also note that all the steps required during scraping should be done through code only and not manually.

In [2]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/"
driver.get(url)

time.sleep(2)
#close log_in window
log_in_pop_up = driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
log_in_pop_up.click()

time.sleep(2)
#locating the search bar
search_bar=driver.find_element_by_class_name("_3704LK")
search_bar.clear()
search_bar.send_keys('sneakers')

time.sleep(2)
#locating the button and clicking it to search for sneakers
button=driver.find_element_by_class_name('L0Z3Pu')
button.click()


#creating the empty list
brand=[]
description=[]
price=[]
discount=[]


time.sleep(3)
#scrapping the required details
start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements_by_class_name('_2WkVRV')#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")# scraping the price from the xpath
    for i in prices:
        price.append(i.text)
    disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")# scraping the discount from the xpath
    for i in disc:
        discount.append(i.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
        
        
time.sleep(2)        
# Since in some records not getting description so try from inside of urls
urls = []

for page in range(0,4):#for loop for scrapping 4 page
    
    product_url = driver.find_elements_by_xpath("//a[@class='_2UzuFa']")
    for i in product_url:
        urls.append(i.get_attribute('href'))
    
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
time.sleep(2)        
for i in urls:
    driver.get(i)
    desc=driver.find_elements_by_xpath('//span[@class="B_NuCI"]')#scraping description from the xpath
    for i in desc:
        description.append(i.text)#appending the description in list
time.sleep(2)        
time.sleep(3)        
#creating a dataframe
df=pd.DataFrame({'Brand':brand[:100],
                'Description':description[:100],
                'Price':price[:100],
                'Discount':discount[:100]})
#printing dataframe
df

,Brand,Description,Price,Discount
0,Skymate,Sneakers For Men (Beige),₹224,55% off
1,STRANGER BROTHERS,Men Running Flat PU Synthetic Sneakers Male Bl...,₹474,52% off
2,Robbie jones,"Sneakers For Men (Navy, Orange)",₹399,60% off
3,aadi,Sneakers For Men (White),₹298,70% off
4,HOTSTYLE,Casual Sneaker Sneakers For Men (Orange),₹283,43% off
...,...,...,...,...
95,believe,Cape IDP Sneakers For Men (Green),₹446,60% off
96,3SIX5,casual sneakers and loafers shoes For Mens Com...,₹398,55% off
97,Skymate,Modern Trendy Shoes Combo pack of 2 Perfect & ...,₹224,81% off
98,Billion,Rockstyle Trending Multicolor Ultralight canva...,₹223,52% off
99,bluemaker,Skate Board White Shoes Men Running Flat PU Sn...,₹474,55% off

Q9."https://www.myntra.com/shoes". 
Set price filter "Rs 6649 to Rs 13099" and color filter to "Black" and then scrap 100 shoes data. The data should include "Brand" of shoes, shoe short-description and price. Please not: Everything should done through code even the filtering for sneakers as well.

In [80]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.myntra.com/shoes%22"
driver.get(url)

time.sleep(2)
#clicking on price filter
price_button = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_button.click()

#clicking on black color filter
black_color_button = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
black_color_button.click()

In [81]:
#creating empty lists
shoe_names=[]
s_desc=[]
short_desc=[]
price=[]
page_urls = []

time.sleep(4)
# scrape next pages urls
nxt_page = driver.find_elements_by_xpath("//li[@class='pagination-number']/a")
for i in nxt_page:
    page_urls.append(i.get_attribute('href'))
    

for url in page_urls[:3]:
    driver.get(url)
    Names=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")  #for scrapping shoe brand names
    for i in Names:
        shoe_names.append(i.text)
    
    desc=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4") #for scrapping shoe short-description
    for i in desc:
        s_desc.append(i.text)
    #As, the s_desc list contain blank description in every alternate index, so removing the blank or null description
    for j in range(0,len(s_desc),2):
        short_desc.append(s_desc[j])
    
    rs=driver.find_elements_by_xpath("//div[@class='product-price']")  #for scrapping shoe prices
    for i in rs:
        price.append(i.text)    
        
df=pd.DataFrame({'Brand': shoe_names[:100],'Short-description': short_desc[:100],'Price': price[:100]})
df

           Brand              Short-description                        Price
0   UNDER ARMOUR  Women Charged Breathe OIL SLK                     Rs. 8999
1           Puma     Men Liberate Nitro Running                     Rs. 9999
2           Nike           NIKE DBREAK Sneakers    Rs. 6795Rs. 7995(15% OFF)
3         Reebok     Forever Floatride Energy 2                     Rs. 9999
4   UNDER ARMOUR  Unisex SC 3ZER0 IV Basketball                     Rs. 8999
..           ...                            ...                          ...
95       Saint G      Men Solid Casual Sneakers                     Rs. 8500
96          Nike  Men Ignite Sock Plus Sneakers   Rs. 8796Rs. 10995(20% OFF)
97          ALDO             Men Formal Brogues                     Rs. 9999
98          Nike         Women Mid-Top Sneakers  Rs. 11895Rs. 13995(15% OFF)
99          ALDO         Women Leather Sneakers                     Rs. 9999

[100 rows x 3 columns]

* Q10:  Go to webpage https://www.amazon.in/Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”
After setting the filters scrape first 10 laptops data.You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price

In [45]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.amazon.in/ref=nav_logo"
driver.get(url)


#creating the empty list
Title=[]
Ratings=[]
price=[]

time.sleep(2)
#locating the search bar
search_bar = driver.find_element_by_id("twotabsearchtextbox")    # Locating searc_bar by id
search_bar.clear()                                               # clearing search_bar
search_bar.send_keys("laptops")                                   # sending user input to search bar
search_button = driver.find_element_by_xpath('//span[@id="nav-search-submit-text"]')       # Locating search_button by xpath
search_button.click()    

time.sleep(2)
#locating the core i7 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break
        
        
#Scrapping Titles
titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles[:10]:
    Title.append(i.text)
    
    
#scrapping Price
prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in prices[:10]:
    price.append(i.text)

#locating Ratings
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")#collecting urls of all the laptop
UR=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops
for url in UR:#loop for every laptop in the list
    driver.get(url)
    try:                  #exception handling for nosuchelementexception                                                    #click the rating link found
        rating=driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']//span")#locating the rating
        Ratings.append(rating.text)#appending the ratings in Ratings list
        
    except NoSuchElementException:
        Ratings.append("NO rating")#appending the No rating if no rating is there
        
#creating a dataframe
df=pd.DataFrame({'Title':Title,
                'Price':price,
                'Ratings':Ratings})
#printing dataframe
df

                                               Title     Price       Ratings
0  Dell Inspiron 15 5501 10thGen Corei7-10657G7 8...    91,990  4.3 out of 5
1  ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...  1,02,000  4.4 out of 5
2  ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...    77,980  4.4 out of 5
3  Mi Notebook Horizon Edition 14 Intel Core i5-1...    54,999  4.4 out of 5
4  Lenovo Legion 5 10th Gen Intel Core i7 15.6 in...    86,290  4.4 out of 5
5  Dell G3 3500 Gaming Laptop 15.6" (39.62cms) FH...    61,799  4.1 out of 5
6  (Renewed) Dell Intel 6th Gen Core i7-6820HQ 15...    76,990     NO rating
7  HP Pavilion x360 Touchscreen 2-in-1 FHD 14" (3...    36,990  4.1 out of 5
8  Life Digital Laptop 15.6-inch (39.62 cms) (Int...    77,937  3.2 out of 5
9  HP Pavilion x360 (2021) 14" (35.56cms) FHD Tou...    78,699  3.5 out of 5