In [1]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

* Question 1 - display all the header tags from 
‘en.wikipedia.org/wiki/Main_Page’

In [2]:
#send get request to the webpage server to get the source code of the page
page = requests.get("https://en.wikipedia.org/wiki/Main_Page")

# page content
soup=BeautifulSoup(page.content)

header_tags = [] # empty list
for header in soup.find_all(["h1","h2","h3","h4","h5","h6"]):
    header_tags.append(header.name+" "+header.text.strip())
    
# print all header_tags
header_tags

['h1 Main Page',
 "h2 From today's featured article",
 'h2 Did you know\xa0...',
 'h2 In the news',
 'h2 On this day',
 "h2 From today's featured list",
 "h2 Today's featured picture",
 'h2 Other areas of Wikipedia',
 "h2 Wikipedia's sister projects",
 'h2 Wikipedia languages',
 'h2 Navigation menu',
 'h3 Personal tools',
 'h3 Namespaces',
 'h3 Variants',
 'h3 Views',
 'h3 More',
 'h3 Search',
 'h3 Navigation',
 'h3 Contribute',
 'h3 Tools',
 'h3 Print/export',
 'h3 In other projects',
 'h3 Languages']

* Question 2 - IMDB’s Top rated 100 movies’

In [3]:
#send get request to the webpage server to get the source code of the page
url = "https://www.imdb.com/list/ls091520106/"
page2 = requests.get(url)

#see page content
soup2 = BeautifulSoup(page2.content)

# top Movies name
name = soup2.find_all("h3", class_="lister-item-header")
# get text from movie name web elements
movies_name = [] #empty list
for i in name:
    for j in i.find_all("a"):
        movies_name.append(j.text)


# Year of release
year = soup2.find_all("span",class_="lister-item-year text-muted unbold")
year_of_release = [] #empty list
for k in year:
    year_of_release.append(k.text)

      
# IMDB Rating
rating = soup2.find_all("div",class_="ipl-rating-star small")

# scrape text from rating web element
IMDB_rating = [] #empty list
for i in rating:
      IMDB_rating.append(float(i.text))
# Make data frame of top 100 movies on IMDB
IMDB_top_100=pd.DataFrame({})
IMDB_top_100['movies_name']=movies_name
IMDB_top_100['year_of_release']=year_of_release
IMDB_top_100['IMDB_rating']=IMDB_rating  
IMDB_top_100

                 movies_name year_of_release  IMDB_rating
0   The Shawshank Redemption          (1994)          9.3
1              The Godfather          (1972)          9.2
2     The Godfather: Part II          (1974)          9.0
3            The Dark Knight          (2008)          9.0
4               12 Angry Men          (1957)          9.0
..                       ...             ...          ...
95        North by Northwest          (1959)          8.3
96        A Clockwork Orange          (1971)          8.3
97                    Snatch          (2000)          8.3
98                    Amélie          (2001)          8.3
99                   The Kid          (1921)          8.3

[100 rows x 3 columns]

* Question-3 IMDB’s Top rated 100 Indian movies’

In [4]:
#send get request to the webpage server to get the source code of the page
url = "https://www.imdb.com/list/ls009997493/"
page3 = requests.get(url)

# check the page content
soup3 = BeautifulSoup(page3.content)

# top Movies name
name = soup3.find_all("h3", class_="lister-item-header")
# get text from movie name web elements
movies_name = [] #empty list
for i in name:
    for j in i.find_all("a"):
        movies_name.append(j.text)


# Year of release
year = soup3.find_all("span",class_="lister-item-year text-muted unbold")
year_of_release = [] #empty list
for k in year:
    year_of_release.append(k.text)


# IMDB Rating
rating = soup3.find_all("div",class_="ipl-rating-star small")

# scrape text from rating web element
IMDB_rating = [] #empty list
for i in rating:
      IMDB_rating.append(float(i.text))
# Make data frame of top 100 India imdb movies
indian_top_100=pd.DataFrame({})
indian_top_100['movies_name']=movies_name
indian_top_100['year_of_release']=year_of_release
indian_top_100['IMDB_rating']=IMDB_rating
indian_top_100

               movies_name year_of_release  IMDB_rating
0          Rang De Basanti          (2006)          8.1
1                 3 Idiots          (2009)          8.4
2         Taare Zameen Par          (2007)          8.4
3           Dil Chahta Hai          (2001)          8.1
4   Swades: We, the People          (2004)          8.2
..                     ...             ...          ...
95             Wake Up Sid          (2009)          7.6
96                Rangeela          (1995)          7.5
97     Shatranj Ke Khilari          (1977)          7.7
98      Pyaar Ka Punchnama          (2011)          7.6
99           Ek Hasina Thi          (2004)          7.5

[100 rows x 3 columns]

* Question 4 - scrap book name, author name, genre and book review of 
any 5 books from ‘www.bookpage.com’

In [7]:
#send get request to the webpage server to get the source code of the page

page4 = requests.get('https://bookpage.com/reviews/')
soup4 = BeautifulSoup(page4.content, 'html.parser')
url_tags = soup4.find_all("h4",class_="italic") # Extract books URL
urls = []
for i in url_tags:
    for j in i.find_all("a", href=True):
        if j.text:
            urls.append(j['href'])
book_name = [] #empty list
author_name = [] #empty list
book_genre = [] #empty list
books_review = [] #empty list

for url in urls:
        book = requests.get('https://www.bookpage.com'+url)
        soup = BeautifulSoup(book.content, 'html.parser')
        book_name.append(soup.find('h1').text.replace('\n','').replace('★',''))  # scrape books name
        author_name.append(soup.find('h4').text.replace('\n',''))  # scrape books author name
        book_genre.append(soup.find('p', class_="genre-links").text.replace('\n',''))   # scrape books genre
        books_review.append(soup.find('div', class_= "article-body").text.replace('\n',''))  # scrape books review
        

# Make data frame 
books=pd.DataFrame({})
books["Book Name"]=book_name[:5]
books["Author"]=author_name[:5]
books["Genre"]=book_genre[:5]
books["Review"]=books_review[:5]
books

,Book Name,Author,Genre,Review
0,Facing the Mountain,Daniel James Brown,Nonfiction / History / American History,Imagine that you and your family have been tak...
1,Lucky Girl,Jamie Pacton,YA Fiction / YA,Seventeen-year-old Jane Belleweather has just ...
2,On Juneteenth,Annette Gordon-Reed,Nonfiction / History / American History,Annette Gordon-Reed opens On Juneteenth by ref...
3,Pawcasso,Remy Lai,Children's / Middle Grade,Pawcasso is a joyful graphic novel from acclai...
4,The Most Beautiful Girl in Cuba,Chanel Cleeton,Fiction / Historical Fiction,"Through her popular historical novels, bestsel..."

* Question 5 -  scrape cricket rankings from ‘www.icc-cricket.com’

* i) Top 10 ODI teams in men’s cricket along with the records for matches, points and 
rating.

In [8]:
#send get request to the webpage server to get the source code of the page
url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
page5 = requests.get(url)
# see content in page5
soup5 = BeautifulSoup(page5.content)
#scrape team names
team = soup5.find_all("span",class_='u-hide-phablet')
team_name = []
for i in team:
    team_name.append(i.text)
matches = [] #empty list
points = [] #empty list
ratings = [] #empty list
new_list = [] #empty list

for i in soup5.find_all("td",class_='rankings-block__banner--matches'): # first place team number of matches
    matches.append(i.text)
for i in soup5.find_all("td",class_='rankings-block__banner--points'):# first place team points
    points.append(i.text)
for i in soup5.find_all("td",class_='rankings-block__banner--rating u-text-right'):# first place team ratings
    ratings.append(i.text.replace("\n",""))
for i in soup5.find_all("td",class_='table-body__cell u-center-text'):# other teams number of matches and points
    new_list.append(i.text)
for i in range(0,len(new_list)-1,2):
    matches.append(new_list[i]) # other teams matches
    points.append(new_list[i+1]) # other teams points
for i in soup5.find_all("td",class_='table-body__cell u-text-right rating'):# other teams number of matches and ratings
    ratings.append(i.text)
    
# Make data frame of top 10 ICC teams
icc=pd.DataFrame({})
icc['Team_name']=team_name[:10]
icc['Matches']=matches[:10]
icc['Points']=points[:10]
icc['Ratings']=ratings[:10]
icc

,Team_name,Matches,Points,Ratings
0,New Zealand,17,"2,054",121 ...
1,Australia,25,"2,945",118
2,India,29,"3,344",115
3,England,27,"3,100",115
4,South Africa,20,"2,137",107
5,Pakistan,24,"2,323",97
6,Bangladesh,24,"2,157",90
7,West Indies,27,"2,222",82
8,Sri Lanka,21,"1,652",79
9,Afghanistan,17,"1,054",62

* ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [9]:
#send get request to the webpage server to get the source code of the page
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
page6 = requests.get(url)
# see content in page6
soup6 = BeautifulSoup(page6.content)
players = [] #empty list
team_name = [] #empty list
rating = [] #empty list

for i in soup6.find_all("div",class_='rankings-block__banner--name-large'): # first place player name
    players.append(i.text)
for i in soup6.find_all("div",class_='rankings-block__banner--nationality'): # first place player team name
    team_name.append(i.text.replace("\n",""))
for i in soup6.find_all("div",class_='rankings-block__banner--rating'): # first place player rating
    rating.append(i.text)
for i in soup6.find_all("td",class_='table-body__cell rankings-table__name name'):# players name
    for j in i.find_all('a'):
        players.append(j.text)
for i in soup6.find_all("span",class_='table-body__logo-text'): # players team name
    team_name.append(i.text)
for i in soup6.find_all("td",class_='table-body__cell rating'): # players rating
    rating.append(i.text)
# Make data frame of top 10 ICC Batsmen
Batsmen=pd.DataFrame({})
Batsmen['Player']=players[:10]
Batsmen['Team']=team_name[:10]
Batsmen['Rating']=rating[:10]
Batsmen

                Player                     Team Rating
0           Babar Azam  PAK                        865
1          Virat Kohli                      IND    857
2         Rohit Sharma                      IND    825
3          Ross Taylor                       NZ    801
4          Aaron Finch                      AUS    791
5       Jonny Bairstow                      ENG    785
6         Fakhar Zaman                      PAK    778
7  Francois du Plessis                       SA    778
8         David Warner                      AUS    773
9            Shai Hope                       WI    773

* iii) Top 10 ODI bowlers along with the records of their team and rating

In [10]:
#send get request to the webpage server to get the source code of the page
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
page7 = requests.get(url)

# see content in page7
soup7 = BeautifulSoup(page7.content)

players = [] #empty list
team_name = [] #empty list  
rating = [] #empty list 

for i in soup7.find_all("div",class_='rankings-block__banner--name-large'): # first place player name
    players.append(i.text)
for i in soup7.find_all("div",class_='rankings-block__banner--nationality'): # first place player team name
    team_name.append(i.text.replace("\n",""))
for i in soup7.find_all("div",class_='rankings-block__banner--rating'): # first place player rating
    rating.append(i.text)
for i in soup7.find_all("td",class_='table-body__cell rankings-table__name name'):# players name
    for j in i.find_all('a'):
        players.append(j.text)
for i in soup7.find_all("span",class_='table-body__logo-text'): # players team name
    team_name.append(i.text)
for i in soup7.find_all("td",class_='table-body__cell rating'): # players rating
    rating.append(i.text)
# Make data frame of top 10 ICC bowlers
bowlers=pd.DataFrame({})
bowlers['Player']=players[:10]
bowlers['Team']=team_name[:10]
bowlers['Rating']=rating[:10]
bowlers

             Player                    Team Rating
0       Trent Boult  NZ                        737
1  Mujeeb Ur Rahman                     AFG    708
2        Matt Henry                      NZ    691
3    Jasprit Bumrah                     IND    690
4      Mehedi Hasan                     BAN    668
5     Kagiso Rabada                      SA    666
6      Chris Woakes                     ENG    665
7    Josh Hazlewood                     AUS    660
8       Pat Cummins                     AUS    646
9     Mohammad Amir                     PAK    638

* Question 6 - Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’

* i) Top 10 ODI teams in women’s cricket along with the records for matches, points 
and rating.

In [11]:
#send get request to the webpage server to get the source code of the page
url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
page8 = requests.get(url)
#see content in page8
soup8 = BeautifulSoup(page8.content)
#scrape team names
womens_team = soup8.find_all("span",class_='u-hide-phablet')
womens_team_name = []
for i in womens_team:
    womens_team_name.append(i.text)
womens_matches = [] #empty list
womens_points = [] #empty list
womens_ratings = [] #empty list
womens_new_list = [] #empty list
for i in soup8.find_all("td",class_='rankings-block__banner--matches'): # first place team number of matches
    womens_matches.append(i.text)
for i in soup8.find_all("td",class_='rankings-block__banner--points'):# first place team points
    womens_points.append(i.text)
for i in soup8.find_all("td",class_='rankings-block__banner--rating u-text-right'):# first place team ratings
    womens_ratings.append(i.text.replace("\n",""))
for i in soup8.find_all("td",class_='table-body__cell u-center-text'):# other teams number of matches and points
    womens_new_list.append(i.text)
for i in range(0,len(womens_new_list)-1,2):
    womens_matches.append(womens_new_list[i]) # other teams matches
    womens_points.append(womens_new_list[i+1]) # other teams points
for i in soup8.find_all("td",class_='table-body__cell u-text-right rating'):# other teams number of matches and ratings
    womens_ratings.append(i.text)
# Make data frame of top 10 ICC teams
womens_icc=pd.DataFrame({})
womens_icc['Team_name']=womens_team_name[:10]
womens_icc['Matches']=womens_matches[:10]
womens_icc['Points']=womens_points[:10]
womens_icc['Ratings']=womens_ratings[:10]
womens_icc

,Team_name,Matches,Points,Ratings
0,Australia,18,"2,955",164 ...
1,South Africa,24,"2,828",118
2,England,17,"1,993",117
3,India,20,"2,226",111
4,New Zealand,21,"1,947",93
5,West Indies,12,"1,025",85
6,Pakistan,15,"1,101",73
7,Bangladesh,5,306,61
8,Sri Lanka,11,519,47
9,Ireland,2,25,13

* ii) Top 10 women’s ODI players along with the records of their team and rating.

In [2]:
#send get request to the webpage server to get the source code of the page
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
page9 = requests.get(url)
# see content in page9
soup9 = BeautifulSoup(page9.content)
players = [] #empty list
team_name = [] #empty list
rating = [] #empty list

for i in soup9.find_all("div",class_='rankings-block__banner--name-large'): # first place player name
    players.append(i.text)
for i in soup9.find_all("div",class_='rankings-block__banner--nationality'): # first place player team name
    team_name.append(i.text.replace("\n",""))
for i in soup9.find_all("div",class_='rankings-block__banner--rating'): # first place player rating
    rating.append(i.text)
for i in soup9.find_all("td",class_='table-body__cell rankings-table__name name'):# players name
    for j in i.find_all('a'):
        players.append(j.text)
for i in soup9.find_all("span",class_='table-body__logo-text'): # players team name
    team_name.append(i.text)
for i in soup9.find_all("td",class_='table-body__cell rating'): # players rating
    rating.append(i.text)
# Make data frame of top 10 Women's ODI Batting Rankings
top_players=pd.DataFrame({})
top_players['Player']=players[:10]
top_players['Team']=team_name[:10]
top_players['Rating']=rating[:10]
top_players

              Player                     Team Rating
0     Tammy Beaumont  ENG                        765
1        Lizelle Lee                       SA    758
2       Alyssa Healy                      AUS    756
3    Stafanie Taylor                       WI    746
4        Meg Lanning                      AUS    723
5  Amy Satterthwaite                       NZ    715
6    Smriti Mandhana                      IND    710
7        Mithali Raj                      IND    709
8     Natalie Sciver                      ENG    685
9    Laura Wolvaardt                       SA    683

* iii)Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [13]:
#send get request to the webpage server to get the source code of the page
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
page10 = requests.get(url)

# see content in page10
soup10 = BeautifulSoup(page10.content)

players = [] #empty list
team_name = [] #empty list  
rating = [] #empty list 

for i in soup10.find_all("div",class_='rankings-block__banner--name-large'): # first place player name
    players.append(i.text)
for i in soup10.find_all("div",class_='rankings-block__banner--nationality'): # first place player team name
    team_name.append(i.text.replace("\n",""))
for i in soup10.find_all("div",class_='rankings-block__banner--rating'): # first place player rating
    rating.append(i.text)
for i in soup10.find_all("td",class_='table-body__cell rankings-table__name name'):# players name
    for j in i.find_all('a'):
        players.append(j.text)
for i in soup10.find_all("span",class_='table-body__logo-text'): # players team name
    team_name.append(i.text)
for i in soup10.find_all("td",class_='table-body__cell rating'): # players rating
    rating.append(i.text)
# Make data frame of top 10 ICC Women's ODI All-Rounder Rankings
all_rounder=pd.DataFrame({})
all_rounder['Player']=players[:10]
all_rounder['Team']=team_name[:10]
all_rounder['Rating']=rating[:10]
all_rounder

             Player                    Team Rating
0    Marizanne Kapp  SA                        418
1      Ellyse Perry                     AUS    418
2   Stafanie Taylor                      WI    410
3    Natalie Sciver                     ENG    349
4     Deepti Sharma                     IND    343
5     Jess Jonassen                     AUS    307
6  Ashleigh Gardner                     AUS    252
7  Dane van Niekerk                      SA    243
8     Sophie Devine                      NZ    242
9       Amelia Kerr                      NZ    236

* Question 7 - scrape details of all the mobile phones under Rs. 20,000 
listed on Amazon.in. The scraped data should include Product Name, Price, Image URL 
and Average Rating

In [14]:
#send get request to the webpage server to get the source code of the page
url = "https://www.amazon.in/s?k=Mobile+phones+under+20000&ref=nb_sb_noss_2"
page11 = requests.get(url)
#see content in page11
soup11 = BeautifulSoup(page11.content)
product_name = []  #empty list
price = []    #empty list
rating = []   #empty list
img_url = []   #empty list


# Scrape product name
for i in soup11.find_all("span",class_="a-size-medium a-color-base a-text-normal"):
    product_name.append(i.text)

# Scrape product price
for i in soup11.find_all("span",class_="a-price-whole"):
    price.append(i.text)
for i in soup11.find_all("span",class_="a-icon-alt"):
    rating.append(i.text)

# Scrape images url
for i in soup11.find_all("img",class_="s-image"):
    img_url.append(i.get("src"))
    
# Make data frame mobile phones under Rs. 20,000 listed on Amazon.in
mobile_phones=pd.DataFrame({})
mobile_phones['product_name']=product_name[:16]
mobile_phones['price']=price[:16]
mobile_phones['Rating']=rating[:16]
mobile_phones['img_url'] = img_url[:16]
mobile_phones

,product_name,price,Rating,img_url
0,"Redmi 9A (Nature Green, 2GB Ram, 32GB Storage)...","12,499",4.3 out of 5 stars,https://images-eu.ssl-images-amazon.com/images...
1,"Oppo A31 (Fantasy White, 6GB RAM, 128GB Storag...","14,999",4.2 out of 5 stars,https://m.media-amazon.com/images/I/61ovWQUYp7...
2,"Vivo Y91i (Fusion Black, 2GB RAM, 32GB Storage...","11,999",4.3 out of 5 stars,https://m.media-amazon.com/images/I/71dujTTJDZ...
3,"Vivo Y91i (Ocean Blue, 3GB RAM, 32GB Storage) ...","6,799",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71-Su4Wr0H...
4,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 500...","10,990",4.2 out of 5 stars,https://m.media-amazon.com/images/I/81fwKtv0VH...
5,"Samsung Galaxy M31s (Mirage Blue, 6GB RAM, 128...","7,490",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71sxlhYhKW...
6,"Samsung Galaxy M21 (Midnight Blue, 4GB RAM, 64...","7,990",4.2 out of 5 stars,https://m.media-amazon.com/images/I/61IhTtJUXJ...
7,"Oppo A52 (Twilight Black, 6GB RAM, 128GB Stora...","8,499",4.2 out of 5 stars,https://m.media-amazon.com/images/I/51ZoulFBPG...
8,"Vivo Y91i (Ocean Blue, 2GB RAM, 32GB Storage) ...","16,999",4.2 out of 5 stars,https://m.media-amazon.com/images/I/51-T19jXch...
9,"Redmi 9 Prime (Sunrise Flare, 4GB RAM, 64GB St...","12,499",4.3 out of 5 stars,https://m.media-amazon.com/images/I/71A9Vo1Bat...
10,"Oppo A31 (Mystery Black, 6GB RAM, 128GB Storag...","13,990",4.2 out of 5 stars,https://m.media-amazon.com/images/I/61d-phh4Gf...
11,"Samsung Galaxy M31 (Space Black, 6GB RAM, 128G...","7,490",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71dujTTJDZ...
12,"Panasonic Eluga i7 (2GB RAM, 16GB Storage, Fin...","9,999",4.1 out of 5 stars,https://m.media-amazon.com/images/I/71FPmXaDfb...
13,"Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB...","10,990",4.3 out of 5 stars,https://m.media-amazon.com/images/I/51FnmxwFHD...
14,"Samsung Galaxy M02s (Blue,4GB RAM, 64GB Storag...","14,999",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71U2SiHgbi...
15,"Samsung Galaxy M12 (Blue,6GB RAM, 128GB Storag...","5,000",4.3 out of 5 stars,https://m.media-amazon.com/images/I/71KCwNV6Mu...

* Question 8 - local weather from the National 
Weather Service website of USA, https://www.weather.gov/ for the city, San 
Francisco. You need to extract data about 7 day extended forecast display for the city. 
The data should include period, short description, temperature and description.

In [2]:
#send get request to the webpage server to get the source code of the page
url = "https://forecast.weather.gov/MapClick.php?textField1=37.78&textField2=-122.42#.YJJVsLUzZPY"
page12 = requests.get(url)
# see content in page12
soup12 = BeautifulSoup(page12.content)
period = []  #empty list
short_desc = []   #empty list
temperature = []   #empty list
description = []    #empty list

# Scrape period
for i in soup12.find_all("div", class_="col-sm-2 forecast-label"):
    period.append(i.text)
    
# Scrape short_desc
for i in soup12.find_all('div',class_="col-sm-10 forecast-text"):        
        short_desc.append(i.text.split(',')[0])
for i in soup12.find_all('div',class_="col-sm-10 forecast-text"):        
        description.append(i.text)

# Scrape temperature
for i in soup12.find_all('p',attrs={'short-desc'}):
        if i.next_sibling is not None:
            temperature.append(i.next_sibling.text)
        else:
            temperature.append(' ')

# Scrape description
for i in soup12.find_all("div", class_="col-sm-10 forecast-text"):
        description.append(i.text)
# Make data frame
san_francisco_weather=pd.DataFrame({})
san_francisco_weather['Period']=period[:9]
san_francisco_weather['Temperature']=temperature[:9]
san_francisco_weather['Short_description']=short_desc[:9]
san_francisco_weather['Description']=description[:9]
san_francisco_weather

,Period,Temperature,Short_description,Description
0,Overnight,Low: 50 °F,Mostly cloudy,"Mostly cloudy, with a low around 50. West sout..."
1,Thursday,High: 63 °F,Mostly cloudy,"Mostly cloudy, then gradually becoming sunny, ..."
2,Thursday Night,Low: 51 °F,Increasing clouds,"Increasing clouds, with a low around 51. West ..."
3,Friday,High: 64 °F,Cloudy through mid morning,"Cloudy through mid morning, then gradual clear..."
4,Friday Night,Low: 51 °F,Patchy drizzle after 2am. Mostly cloudy,"Patchy drizzle after 2am. Mostly cloudy, with..."
5,Saturday,High: 66 °F,Patchy drizzle before 9am. Mostly sunny,"Patchy drizzle before 9am. Mostly sunny, with..."
6,Saturday Night,Low: 51 °F,Partly cloudy,"Partly cloudy, with a low around 51."
7,Sunday,High: 65 °F,Mostly sunny,"Mostly sunny, with a high near 65."
8,Sunday Night,Low: 52 °F,Partly cloudy,"Partly cloudy, with a low around 52."

* 9. Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, 
company name, CTC, and apply date

In [6]:
#send get request to the webpage server to get the source code of the page
url = "https://internshala.com/fresher-jobs"
page13 = requests.get(url)
# see content in page12
soup13 = BeautifulSoup(page13.content)
job_titles = []  #empty list
company_names = []   #empty list
CTC = []   #empty list
apply_date = []    #empty list

# scrape job title
titles=soup13.find_all('div',class_="heading_4_5 profile") 
for i in titles:
    job_titles.append(i.text.replace('\n', ''))
    
#scrape company names    
companies=soup13.find_all('a',class_="link_display_like_text")
for i in companies:
    company_names.append(i.text.strip())


# scrape ctc and apply date
job_info = []
info = soup13.find_all("div",class_="item_body")
for i in info:
    job_info.append(i.text.replace("\n","").replace("\xa0",""))
    
# apply date    
for i in range(2,len(job_info),3):
    apply_date.append(job_info[i].strip())
#CTC    
for i in range(1,len(job_info),3):
    CTC.append(job_info[i].strip())
    
# Make data frame
JOB=pd.DataFrame({})
JOB['Job_Titles']=job_titles
JOB['Company_Names']=company_names
JOB['CTC']=CTC
JOB['Apply_Date']=apply_date
JOB

,Job_Titles,Company_Names,CTC,Apply_Date
0,Junior Software Developer,ZoryBoard Software Solutions,3 - 4 LPA,20 Jun' 21
1,Associate Software Developer,SNet Labs Private Limited,3 - 3.2 LPA,20 Jun' 21
2,Full Stack Developer,RavGins International Private Limited (Wobb.ai),3.3 - 4 LPA,20 Jun' 21
3,Operations Executive,TutorBin,3.6 - 3.84 LPA,20 Jun' 21
4,Associate UI/UX Designer,RavGins International Private Limited (Wobb.ai),3 - 4 LPA,20 Jun' 21
5,Web Development Trainee,Softsensor.ai,3 - 5 LPA,20 Jun' 21
6,Business Development Executive,Square Select Estates,3 - 5 LPA,19 Jun' 21
7,Vendor Success Manager,Little Olive,3 - 3.5 LPA,19 Jun' 21
8,Full Stack Flutter Developer,HeartShirt,3 - 3.5 LPA,19 Jun' 21
9,Telemarketing Sales Associate,StrategyCo.Global,3 - 5 LPA,19 Jun' 21
10,Associate Software Developer,Labellerr By Tensor Matics Private Limited,7 - 10 LPA,20 Jun' 21
11,Hardware Simulation Engineer,Keysight Technologies,4 - 7 LPA,19 Jun' 21
12,Education Counselor (Sales),OpenHouse,3 - 4.5 LPA,18 Jun' 21
13,Graphic Designer,Cynfas,3 LPA,17 Jun' 21
14,Marketing Analyst,Exhilar Innovative Solutions Private Limited,3 - 6 LPA,17 Jun' 21
15,Mobile App Developer,Wow Labz,3 - 5 LPA,17 Jun' 21
16,Software Engineer - AI(NLP)/Front-end(Angular)...,RapidKen.AI,4 - 8 LPA,17 Jun' 21
17,Corporate Sales Executive,Twin Health,3 - 4 LPA,17 Jun' 21
18,Software Tester,Lattice Innovations Private Limited,3 LPA,16 Jun' 21
19,Mobile App Developer,Fusion Engineering,4.5 - 5.25 LPA,16 Jun' 21
20,Junior Backend Developer,VPODS.ai,4 - 5 LPA,16 Jun' 21
21,Social Media Strategist And Copywriter,Internshala,5 - 6.8 LPA,16 Jun' 21
22,Junior UI Designer,Phionike Solutions,3.5 - 4 LPA,15 Jun' 21
23,Customer Service Executive,Verzeo,3 LPA,14 Jun' 21
24,Business Development Associate,Erikka India,3 - 5 LPA,14 Jun' 21
25,JavaScript Developer,Inflolabs,3 - 5 LPA,13 Jun' 21
26,Software Engineer,CrewKarma,3 - 5 LPA,13 Jun' 21
27,Business Development Manager (Inside Sales),Vedic Maths Forum India,3 - 4 LPA,13 Jun' 21
28,Proposal & Marketing Engineer,EnWe Clean Technologies Private Limited,3 - 3.25 LPA,12 Jun' 21
29,Software Engineer Trainee,RightRev India Private Limited,3 LPA,12 Jun' 21
30,Associate Software Developer,Shashank B,5 - 6 LPA,12 Jun' 21
31,Office Manager,Wono Inc,5.1 - 6.1 LPA,12 Jun' 21
32,Technical Recruiter,Wono Inc,5.1 - 6.1 LPA,12 Jun' 21
33,Administrative Assistant,Wono Inc,5 - 6.5 LPA,12 Jun' 21
34,Web Developer,Wono Inc,5.5 - 6.5 LPA,12 Jun' 21
35,Data Entry Associate,Wono Inc,5 - 6.5 LPA,12 Jun' 21
36,Junior Software Engineer,Byteridge Software Private Limited,3.6 - 4 LPA,11 Jun' 21
37,Business Development Executive (Inside Sales),GREedge,3.75 LPA,11 Jun' 21
38,Client Relationship & Business Development Exe...,Nascent Global Impex LLP,3 - 5 LPA,11 Jun' 21
39,Backend Developer,Reportcard,3 - 5 LPA,10 Jun' 21